asyncssh==2.13.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
concurrent-log-handler==0.9.24
cryptography==41.0.3
customtkinter==5.2.0
darkdetect==0.8.0
docopt==0.6.2
icmplib==3.0.3
idna==3.4
ifaddr==0.2.0
Pillow==10.0.0
pipreqs==0.4.13
portalocker==2.7.0
pycparser==2.21
requests==2.31.0
schedule==1.2.0
telnetlib3==2.0.4
ttkthemes==3.2.2
typing_extensions==4.7.1
urllib3==2.0.4
yarg==0.1.9
